@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bootstrap/bootstrap/media";
@import "vendor/bourbon/bourbon";
@import "variables";
@import "typography";
@import "components/flex-row";
@import "components/simple-hero";
@import "components/large-fonts";
@import "components/blockquote";
@import "components/resource-block";
@import "components/in-page-nav";
@import "svg-helpers";
@import "feature-group";
@import "utility-classes";

#main-nav {
  display: none;
}

/* TABBED CONTENT ( SPEAKERS ) */

.tab-pane:not(.active) {
  display: none;
}

.compare-tabs {
  margin: 40px 0 0 0;
  padding: 0;
}

.compare-tabs li {
  display: inline;
}

.compare-tabs a {
  border-bottom: 3px solid rgba(255,255,255,.5);
  color: rgba(255,255,255,.5);
  display: inline-block;
  font-size: 21px;
  font-weight: 600;
  line-height: 1;
  margin: 0 10px;
  padding: 10px;
}

.compare-tabs .active a,
.compare-tabs a:active,
.compare-tabs a:focus,
.compare-tabs a:hover {
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.dark-tabs a {
  color: $color-primary-dark;
}

.dark-tabs .active a,
.dark-tabs a:active,
.dark-tabs a:focus,
.dark-tabs a:hover {
  border-color: $color-primary-alt;
  color: $color-primary-alt;
}

/* END TABBED CONTENT */

.subtitle {
  color: rgba(255,255,255,.6);
}

.attention-bar-top {
  position: relative;
  top: 0;
  margin-left: 21%;
  margin-right: 21%;

  p {
    margin: 0;
  }

  .row {
    margin: 10px 0;
  }

  @media all and (max-width: $screen-md-min) {
    margin: 0;
  }
}

.header-content {
  .hero-commit-image-large {
    height: 200px;
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: center;
    margin: 0 80px 14px;
  }

  @media (max-width: $screen-sm-min) {
    p {
      margin: 0 0 14px;
    }
  }
}

.gitlab-content-container-full,
.gitlab-content-container {
  padding: 0;
  margin: 0;
  max-width: none;

  img {
    border-radius: 8px;
  }
}

.highlight-background {
  background-color: $color-primary;

  h2, h4 {
    color: $color-white;
    font-weight: normal;
  }

  .container-speaker {
    color: $color-white;
  }
}

.in-page-nav {
  background-color: $color-primary-alt;
  padding-left: 10%;
  padding-right: 10%;
  top: 0;

  a {
    color: $color-white;
  }

  .is-active {
    border: 0;
  }

  ul {
    width: 100%;
  }

  .body--has-in-page-nav-stuck & {
    @media (min-width: $screen-sm-min) {
      max-width: none;
      width: 100%;
      top: 0;
    }

    @media (min-width: $screen-md-min) {
      max-width: none;
      width: 100%;
      top: 0;
    }

    @media (min-width: $screen-lg-min) {
      max-width: none;
      width: 100%;
      top: 0;
    }
  }
}

.list-unstyled {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.gitlab-content-container li,
.gitlab-content-container li:not(:first-child) {
  margin-top: 0;
}

.commit-content {
  padding-right: 0;

  .column-register {
    height: 300px;
    padding: 0;

    .cta-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto 35px;
      width: 140px;
    }
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.container-flex {
  display: flex;

  h3 {
    margin-top: 8px;
  }

  .title-icon {
    width: 66px;
    height: 100%;
    padding-right: 20px;
  }
}

.container-speaker {
  .crop-speaker-photo {
    filter: grayscale(100%);
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .speaker-photo {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  .speaker-name {
    margin-bottom: 5px;
  }

  .speaker-title {
    margin: 0;
  }
}

#speakers .col-md-4 {
  display: inline-block;
  float: none;
  min-width: 290px;
  text-align: center;
  vertical-align: top;
  width: 32%;
}

/* TEMPORARY, DELETE WHEN APPLICABLE */

#speakers-london {
  color: #ffffff;
  text-align: center;
}

/* END TEMP */

.customer-logos-container {
  padding-top: 0;
}

@media (max-width: $grid-float-breakpoint) {
  .col-md-5 {
    margin: 0 20px 40px;
  }

  .text-left {
    text-align: center;
  }

  .container-flex {
    justify-content: center;
  }
}

/* MAIN */

.video-intro-copy {
  font-size: 21px;
}

.video-gitlab-explained-container .video-thumb-container .video-thumb {
  background: linear-gradient(135deg,  #e58b69 0%,#4c3b7f 50%,#000000 100%);
  filter: none;
  height: 200px;
}

/* ATTEND */

.attend-tabs {
  margin-top: 20px;
}

/* LEARN */

#learn {
  background: $color-gray-extra-light;
}

/* SPONSORS */

#sponsor {
  background: $color-gray-extra-light;
}

.customer-logos-container .logos-container svg {
  height: 75px;
  max-width: 165px;
}

