---
layout: markdown_page
title: Enablement Section
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

Offer the best operational experience of GitLab products from streamlined deployment and maintenance, trustworthy disaster recovery, to fluent scalability and performance, as well as enabling and growing a healthy ecosystem community.


## Mission

Enablement focuses on improving our capabilities and metrics in the following areas:

 * [Distribution](/handbook/engineering/development/enablement/distribution)
 * [Ecosystem](/handbook/engineering/development/enablement/ecosystem)
 * [Geo (Disaster Recovery)](/handbook/engineering/development/enablement/geo)
 * [Memory](/handbook/engineering/development/enablement/memory)

## Section Members

The following people are permanent members of the Enablement Section:

<%
DEPARTMENTS = ['Distribution', 'Ecosystem', 'Geo' , 'Memory']
INTERIM_MANAGER_DEPARTMENTS = ['Fulfillment']
DEPARTMENT_REGEXP = /(#{Regexp.union(DEPARTMENTS)})/
%>

<%=  direct_team(role_regexp: DEPARTMENT_REGEXP, manager_role: 'Director of Engineering, Enablement') %>

## All Team Members

The following people are permanent members of teams that belong to the Enablement Section:

<% DEPARTMENTS.each do |dep| %>
### <%= dep %>
  <% manager_role = INTERIM_MANAGER_DEPARTMENTS.include?(dep) ? "Engineering Manager, #{dep} (Interim)" : "Engineering Manager, #{dep}" %>
  <%= direct_team(manager_role: manager_role) %>
<% end %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Enablement/, direct_manager_role: 'Director of Engineering, Enablement') %>

## How We Work

* [Apply budget for professional development](./processes/budget_approval.html)

## Common Links

* Issue Boards
  * [Distribution - Helm Charts Kanban Board](https://gitlab.com/charts/gitlab/boards/925761)
  * [Distribution - Omnibus Kanban Board](https://gitlab.com/gitlab-org/omnibus-gitlab/boards/289804)
  * [Geo Kanban Board](https://gitlab.com/groups/gitlab-org/-/boards/1034254) - note that Geo makes a board for every release.
  * [Memory Kanban Board](https://gitlab.com/groups/gitlab-org/-/boards/1065668?label_name[]=Memory)
* Slack Channels
  * Enablement Section [#dev-enablement](https://gitlab.slack.com/messages/CHJK0EVAM)
  * Distribution team [#g_distribution](https://gitlab.slack.com/messages/C1FCTU4BE) 
  * Geo team [#g_geo](https://gitlab.slack.com/messages/C32LCGC1H) 
  * Geo standup [#geo-standup](https://gitlab.slack.com/messages/C7U95P909)
  * Memory team [#g_memory](https://gitlab.slack.com/messages/CGN8BUCKC)
